bin/
target/
META-INF/
logs/

.settings/
.project
.classpath
.mymetadata
*.iml
*.class
.idea/
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
uic-dubbo-registry.properties
uic-dubbo-registry.properties.lock
